<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css">
    <link rel="stylesheet" type="text/css" href="CerberusWeb.css">
    <link rel="stylesheet" type="text/css" href="Popover.css">
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0">
    <title>Cerberus</title>    
    <!-- This script loads your compiled module. If you add any GWT meta tags, they must be added before this line. -->
    <script type="text/javascript" language="javascript" src="cerberusweb/cerberusweb.nocache.js"></script>
    
    <!-- Google analytics code -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37886127-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  </head>
  
  <body>
    <noscript>
      <div style="width: 22em; position: absolute; left: 50%; ma<%@ page contentType="text/html; charset=" %><%@ include file="" %><%!  %><%=  %><%  %>rgin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">
        Your web browser must have JavaScript enabled
        in order for this application to display correctly.
      </div>
    </noscript>

	<div id="messagePanelContainer">
		<div id="messagePanelInnerContainer">
			<div id="messagePanel">Loading...</div>
		</div>
	</div>

	<div id="container">
		<div id="top">
			<h1><a id="logo" href="#"><span>Cerberus Home</span></a></h1>
			<div id="loginPanel"></div>
		</div>
		
    	<div id="screenPanel"></div>
    	
    	<div id="main-footer" style="background-color:#E9EDED;clear:both;text-align:center;">
		Copyright © IntraDEV 2013
		</div>
	
    </div>
    
    <iframe src="javascript:''" id="__gwt_historyFrame" tabIndex='-1' style="position:absolute;width:0;height:0;border:0"></iframe>

  </body>
</html>
