body
{
    margin : 50px;
    font-size : 13px;
    font-family : helvetica , arial , sans-serif;
    color : rgb(51 , 51 , 51);
}
#container
{
    width : 600px;
    margin : 0 auto;
    position : relative;
}
#top
{
    position : relative;
}
#logo
{
    display : block;
    background : transparent url("images/cerberus_logo.png") no-repeat scroll top left;
    width : 105px;
    height : 105px;
}
#logo span
{
    display : none;
}
#messagePanelContainer
{
    position : fixed;
    top : 0;
    left : 0;
    width : 100%;
    z-index : -1;
}
#messagePanelInnerContainer
{
    max-width : 434px;
    margin : 0 auto;
    text-align : center;
}

#messagePanel
{
    display : inline-block;
    position : relative;
    top : -20px;
    padding : 26px 8px 6px 8px;
    text-align : left;
    font-weight : bold;
    background-color : rgb(237, 165, 165);  
    color : rgb(255 , 255 , 255);
    
    border-radius : 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from( rgb(237, 165, 165) ), to( rgb(136,10,12) ));
  	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.4);
}

#loginPanel
{
    position : absolute;
    top : 0;
    right : 0;
}
#loginPanel a
{
    color : rgb(0 , 0 , 204);
}
#userNameLabel
{
    font-weight : bold;
}

/* content */
#screenPanel a
{
    /* color : rgb(181 , 90 , 31); */
    color : #B01220;
}
h2, .big-text
{
    margin : 36px 0 12px 0;
    font-size : 36px;
    line-height : 42px;
    letter-spacing : -2px;
    font-weight : bold;
}

.small-text
{
    /* margin : 36px 0 12px 0; */
    font-size : 18px;
    /* line-height : 42px;
    letter-spacing : -2px;
    font-weight : bold; */
    /* color : rgb(181 , 90 , 31); */
    color : #B01220;
}




/* passwords list */
.passwordList
{
    margin-bottom : 24px;
}
.passwordList .empty
{
    color : rgb(136 , 136 , 136);
}
.passwordItem
{
    position : relative;
    height : 36px;
    padding-right : 70px;
    overflow : hidden;
    cursor : pointer;
}
.passwordItem .passwordTitle
{
    display : inline;
    padding-right : 6px;
    height : 36px;
    line-height : 36px;
    font-size : 18px;
    font-weight : bold;
    color : rgb(51 , 51 , 51);
    text-decoration : none;
}
.passwordItem:hover .passwordTitle
{
    /*color : rgb(181 , 90 , 31);*/
    color : #5F0413;
}
.passwordItem .passwordSnippet
{
    display : inline;
    line-height : 36px;
    font-size : 13px;
    color : rgb(204 , 204 , 204);
}
.passwordItem .controls
{
    visibility : hidden;
    position : absolute;
    right : 0;
    top : 0;
}
.passwordItem:hover .controls
{
    visibility : visible;
    
}

.passwordItem:hover
{
	border : 0px solid rgb(0 , 0 , 0);
  	background-color : rgb(237, 165, 165);  
    border-radius : 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}


/* password editor */
.passwordEditor .passwordTitle, .passwordEditor .passwordBody
{
    display : block;
    width : 566px;
    padding : 8px;
    border : 1px solid rgb(255 , 255 , 255);
    border-radius : 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	
	outline : 0;
	
  	-webkit-transition: border 75ms ease-out;
}
.passwordEditor .passwordTitle
{
    margin : 36px 0 12px 0;
    /* background-color : rgb(250 , 230 , 218); */
    background-color : rgb(237, 165, 166);
    font-size : 18px;
    font-weight : bold;
    line-height : 18px;
}
.passwordEditor .passwordTitle:focus
{
    /* border : 1px solid rgb(181 , 90 , 31); */
    border : 1px solid #5F0413;
    
}
.passwordEditor .passwordBody
{
    height : 318px;
    margin : 12px 0;
    background-color : rgb(253 , 246 , 242);
    font-size : 18px;
    line-height : 22px;
}
.passwordEditor .passwordBody:focus
{
    /* border : 1px solid rgb(181 , 90 , 31); */
    border : 1px solid #5F0413;
}


/* Keypass Editor panel */
.keypassEditor-PopUpPanel
{
    border : 3px solid rgb(0 , 0 , 0);
    padding : 3px;
    background : white;
    /* font-weight : bold; */
    
    width: 36em;
    
}
.keypassEditor-PopUpPanel-glass
{
    background-color : rgb(0 , 0 , 0);
    opacity : 0.3;
}

.keypassEditor-PopUpPanel .level0
{
	display: box;
}

.keypassEditor-PopUpPanel .image
{
	float: right;

}
.keypassEditor-PopUpPanel .header
{
    padding : 10px;
    background : white;
    text-align : left;
    font-weight: bold;
    vertical-align: middle;
   	/*height: 93px;*/
   	/*width:93%;*/
}
.keypassEditor-PopUpPanel .body
{
    padding : 10px;
    background : white;
    text-align : left;
}
.keypassEditor-PopUpPanel .footer
{
    padding : 3px;
    background : white;
    text-align : center;
}
.keypassEditor-PopUpPanel .textEntry
{
	border : 3px solid rgb(0 , 0 , 0);
    font-size : 80%;
    padding : 1px 15px;
    margin: 0px 10px 0px;
    /*padding : 60px;*/
    /* padding-right: 50px; */
   width :    88%;
   /*  height   : 100%; */
    
    /* margin: auto 50px auto auto; */
}

/* .keypassEditor-PopUpPanel .okButton
{
    background : white;
    padding : 3px 0px 3px;
    text-align: center;
} */

/* General button defaults */
.cerberus_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b01220), color-stop(1, #5f0413) );
	background:-moz-linear-gradient( center top, #b01220 5%, #5f0413 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b01220', endColorstr='#5f0413');
	background-color:#5f0413;
    
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
    
	/*border:1px solid #d83526;*/
	display:inline-block;
	color:#ffffff;
	/*font-family:arial;
	font-size:13px;*/
	font-weight:normal;
	padding:6px 24px;
	text-decoration:none;
	/*text-shadow:1px 1px 0px #b23e35;*/
	
	cursor : pointer;
	
	vertical-align: middle;
	
}.cerberus_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5f0413), color-stop(1, #b01220) );
	background:-moz-linear-gradient( center top, #5f0413 5%, #b01220 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f0413', endColorstr='#b01220');
	background-color:#b01220;
}.cerberus_button:active {
	position:relative;
	top:1px;
}

/* GWT defaults */
.gwt-PushButton
{
    display : inline;
}

/* footer */
#main-footer
{
	background-color:#E9EDED;
	clear:both;
	text-align:center;
	margin : 36px 0 12px 0;
}

.clickableLabels
{
	color : rgb(0 , 0 , 204);
	cursor : pointer;
	text-decoration:underline;
}